p{
    font-size: medium;
    font-weight: bold;
    color: rgb(85, 3, 3);
    

    
}

.product-list{
    cursor: pointer;
    background-color: rgb(209, 206, 206);
    
    justify-content: center;
    
}