body{
    background: #f8e5eb;
}
#header{

}
.sidebar {
    height: 94%;
    width: 200px; /* Adjust sidebar width as needed */
    position: fixed;
    top: 6%;
    left: 0;
    background-color:#2d2d2e;
    
    color:white;
}

.sidebar ul {
    list-style-type: none;
    padding: 15px;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(163, 154, 154);
    display: block;
}
.sidebar ul li :hover{
    background: black;
    color: white;
}


.content {
    margin-left: 20%; /* Adjust to match sidebar width */
    margin-top: 75px;
    padding: 20px;

}
#toggleButton {
    background-color: #e0b0ba;
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    z-index: 999; /* Ensure button is above other content */
}