<div class="sidebar">
    <button id="toggleButton"><i class="bi bi-caret-left-square-fill"></i></button>
    <!-- Sidebar content goes here -->
    <ul>
        
        <li ><a routerLink="/admin"><i class="bi bi-house-door-fill"></i><span class="m-2">Dashboard</span></a></li>
        <li><a routerLink="/category"><i class="bi bi-archive-fill"></i><span class="m-2">Category</span></a></li>
        <li><a routerLink="/show-product"><i class="bi bi-archive-fill"></i><span class="m-2">Product</span></a></li>
        <li><a routerLink="/report"><i class="bi bi-archive-fill"></i><span class="m-2">Report</span></a></li>

        <li><a href="#"><i class="bi bi-file-lock-fill"></i><span class="m-2">Change Password</span></a></li>
    </ul>
    
</div>